:root {
    --color-white:hsl(0, 0%, 100%);
    --color-light-gray:hsl(212, 45%, 89%);
    --color-grayish-blue:hsl(220, 15%, 55%);
    --color-dark-blue:hsl(218, 44%, 22%);

    --font-family:'Outfit', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;  
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--color-dark-blue);
    margin: 30px 0 20px 0;
}

p {
    color: var(--color-grayish-blue);
}

img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

.text-center {
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-gray);
}

.qr-container {
    width: 320px;
    height: 497px;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 20px;
}



@media screen and (max-width:375px) {
    .wrapper {
        height: 667px; 
    }
}

@media screen and (min-width:376px) {
    .wrapper {
        height: 800px;
    }
}

